<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Tabelul: Cumparatori</title>
    <style th:replace="/fragments/general.html :: style"></style>
</head>
<body>
<div align="center">
    <div th:replace="/fragments/general.html :: header"> </div>
    <h1>Tabelul Cumparatori</h1>
    <a href="/cumparatori/new">Introduceti un cumparator nou</a>
    <br/><br/>
    <div class="container">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID_cumparator</th>
                <th>Persoana_Fizica</th>
                <th>Persoana_Juridica</th>
                <th>Denumire</th>
                <th>Semnatura</th>
                <th>CNP</th>
                <th>CI</th>
                <th>Nr_Reg_Com</th>
                <th>CUI</th>
                <th>Adresa</th>
                <th>Contact</th>
                <th>Cod_postal</th>
                <th>Email</th>
                <th>Stampila</th>
                <th>Operatii_Tabel</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cumparator : ${listaCumparatori}">
                <td th:text="${cumparator.id_cumparator}">ID_cumparator</td>
                <td th:text="${cumparator.persoana_Fizica}">Persoana_Fizica</td>
                <td th:text="${cumparator.persoana_Juridica}">Persoana_Juridica</td>
                <td th:text="${cumparator.denumire}">Denumire</td>
                <td th:text="${cumparator.semnatura}">Semnatura</td>
                <td th:text="${cumparator.CNP}">CNP</td>
                <td th:text="${cumparator.CI}">CI</td>
                <td th:text="${cumparator.nr_Reg_Com}">Nr_Reg_Com</td>
                <td th:text="${cumparator.CUI}">CUI</td>
                <td th:text="${cumparator.adresa}">Adresa</td>
                <td th:text="${cumparator.contact}">Contact</td>
                <td th:text="${cumparator.cod_postal}">Cod_postal</td>
                <td th:text="${cumparator.email}">Email</td>
                <td th:text="${cumparator.stampila}">Stampila</td>
                <td width="255px">
                    <a class="text-primary" th:href="@{'/cumparatori/edit/' + ${cumparator.id_cumparator}}">Editeaza cumparatorul</a>
                    &nbsp;&nbsp;&nbsp;
                    <a class="text-danger" th:href="@{'/cumparatori/delete/' + ${cumparator.id_cumparator}}">Sterge cumparatorul</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="/fragments/general.html :: scripts"></div>

</body>
</html>