<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Editare dotari</title>
    <style th:replace="/fragments/general.html :: style"></style>
</head>
<body>
<div align="center">
    <div th:replace="/fragments/general.html :: header"> </div>
    <h1>Editati dotarea</h1>
    <br />
    <form action="#" th:action="@{/dotari/update}" th:object="${dotare}"
          method="post">

        <table>
            <tr>
                <td>ID_dotare:</td>
                <td><input type="number" th:field="*{id_dotare}" readonly="readonly" /></td>
            </tr>
            <tr>
                <td>Nume_dotare:</td>
                <td><input type="text" th:field="*{nume_dotare}" /></td>
            </tr>
            <tr>
                <td>Optional:</td>
                <td><input type="text" th:field="*{optional}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Update</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>